#productTemplate {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.smallProduct {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
}

.smallProduct a{
      text-decoration: none;
      color: black;
  }
  
  .smallProduct img {
    max-width: 100%;
    height: auto;
  }

main h2 {
    text-align: center;
    margin-top: 7%;
    font-family: fantasy;
}

/* Knapper til productlist */

.category-head {
    float: left;
    text-decoration: none;
    color: #233249;
    padding: 10px;
    font-size: larger;
    font-weight: bolder;
}

#categorylist {
    text-align: right;
    position: relative;
    width: 95%;
    margin: 5% auto;
}

#categorylist li {
    display: inline-flex;
    padding: 10px;
    text-align: center;
    border: 1px solid #233249;
    border-radius: 0.2rem;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

#categorylist li a{
    text-decoration: none;
    text-align: center;
    color: #233249;
}

#categorylist li:hover {
    background-color: #233249;
    color: #ddd;
}
#categorylist li a:hover {
    color: #ddd;
}

